{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container w-50">
        <form method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="user_email"
                       aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Ваш email никуда не передается</div>
            </div>
            <div class="mb-3">
                <label for="user_input_username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" aria-label="Username" placeholder="Имя пользователя"
                       name="username" id="user_input_username">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="user_password_1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Повторите пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword2" name="user_password_2">
            </div>
            {#            <div class="mb-3 form-check">#}
            {#                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
            {#                <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
            {#            </div>#}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}